.articleSummaryListItem{
    padding: 1em;
}

.articleSummaryListItemTitle{
    font-family: 'Rowdies', sans-serif;
    color: darkslategray;
}

.articleSummaryListItemBody{
    font-family: 'Montserrat', sans-serif;
}