.highlightArticle {
    font-family: 'Lato', sans-serif;
}

.highlightArticle-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    margin-top: 10px;
}

.highlightArticle-image {
    max-width: 100%;
}
