.highlightArticle{
    padding: 1em;
    font-family: 'Lato', sans-serif;
}

.highlightArticleTitle{
    font-family: 'Bebas Neue', cursive;
    padding-top: 1em;
}

.highlightArticleDate{
    padding-top: 1em;
}
